[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Neos3452
[access "refs/for/refs/*"]
	read = group user/Neos3452
	push = group user/Neos3452
	label-Code-Review = -2..+2 group user/Neos3452
	label-Verified = -1..+1 group user/Neos3452
	rebase = group user/Neos3452
	removeReviewer = group user/Neos3452
	submit = group user/Neos3452
[access "refs/heads/*"]
	read = group user/Neos3452
	create = group user/Neos3452
	push = +force group user/Neos3452
	pushMerge = group user/Neos3452
[access "refs/tags/*"]
	push = +force group user/Neos3452
	pushTag = group user/Neos3452
	pushSignedTag = group user/Neos3452
